<div class="invoice-document">
  <div class="invoice-header">
      <div>
          <h1 class="invoice-title">Factura</h1>
          <div class="invoice-meta">
                <strong>Número de Factura: </strong>{{invoiceData.invoiceDetails.number}}
          </div>
          <div class="invoice-meta">
              <strong>Fecha: </strong> {{invoiceData.invoiceDetails.invoiceDate}}
          </div>
          <div class="invoice-meta">
              <strong>Fecha de vencimiento: </strong> {{invoiceData.invoiceDetails.expirationDate}}
          </div>
      </div>
      <img class="invoice-logo">
  </div>
  
  <div class="invoice-addresses">
      <div class="invoice-from">
          <div class="address-title">De: </div>
          <div><strong>{{invoiceData.emisor.emisorName}}</strong></div>
          <div>{{invoiceData.emisor.emisorAddress}}</div>
          <div>{{invoiceData.emisor.emisorNif}}</div>
          <div>{{invoiceData.emisor.emisorEmail}}</div>
      </div>
      
      <div class="invoice-to">
          <div class="address-title">Para: </div>
          <div><strong>{{invoiceData.reciver.reciverName}}</strong></div>
          <div>{{invoiceData.reciver.reciverAddress}}</div>
          <div>{{invoiceData.reciver.reciverNif}}</div>
      </div>
  </div>
  
  <div class="invoice-items">
      <table class="invoice-table">
          <thead>
              <tr>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th class="text-right">Importe</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let service of invoiceData.services">
                  <td>{{service.description}}</td>
                  <td>{{service.quantity}}</td>
                  <td>{{service.price}}</td>
                  <td class="text-right">{{service.quantity * service.price}}</td>
              </tr>
          </tbody>
      </table>
      
      <div class="invoice-totals">
          <div class="total-line">
              <span></span>
              <span></span>
          </div>
          
          <div class="total-line">
              <span></span>
              <span></span>
          </div>
          
          <div class="total-line">
              <span></span>
              <span></span>
          </div>
          
          <div class="total-line invoice-total">
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
  
  <div class="invoice-notes">
      <div class="notes-title"></div>
      <div></div>
  </div>
  
  <div class="invoice-payment">
      <div class="payment-title"></div>
      <div></div>
  </div>
</div>
