<section class="hero">
  <div class="container">
      <div class="hero-content">
          <h1 id="hero-title">Facturas profesionales en segundos</h1>
          <p id="hero-subtitle">La forma más sencilla de crear, personalizar y descargar facturas de aspecto profesional para tu negocio freelance.</p>
          <div class="hero-buttons">
              <a [routerLink]="['/create-invoice']" routerLinkActive="router-link-active"   class="btn btn-primary" id="hero-cta">Crear factura ahora</a>
              <a href="#demo" class="btn btn-secondary" id="hero-demo">Ver demo</a>
          </div>
      </div>
      <div class="hero-image">
          <img src="" alt="TinyInvoice Preview">
      </div>
  </div>
</section>