/* App Container */
.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 auto 3rem auto; /* Añadido margen auto horizontal para centrar */
  max-width: var(--container-width);
}

@media (max-width: 992px) {
  .app-container {
      grid-template-columns: 1fr;
  }
}