<section class="invoice-preview">
  <div class="preview-header">
    <h3 id="preview-title">Vista previa</h3>
    <div class="color-picker">
      <span>Color:</span>
      <div class="color-options">
        <button class="color-option active" style="background-color: #6366f1;" data-color="#6366f1"></button>
        <button class="color-option" style="background-color: #14b8a6;" data-color="#14b8a6"></button>
        <button class="color-option" style="background-color: #f97316;" data-color="#f97316"></button>
        <button class="color-option" style="background-color: #8b5cf6;" data-color="#8b5cf6"></button>
        <button class="color-option" style="background-color: #ec4899;" data-color="#ec4899"></button>
      </div>
    </div>
  </div>
  <!-- <div id="invoice-preview-container">
    <div class="preview-placeholder">
        <i class="fas fa-file-invoice"></i>
        <p id="preview-placeholder-text">Completa el formulario para ver la vista previa</p>
    </div>
  </div> -->
  <app-invoice-template></app-invoice-template>
</section>