<section class="demo" id="demo">
  <div class="container">
      <div class="section-header">
          <h2 id="demo-title">Así de fácil es usar TinyInvoice</h2>
          <p id="demo-subtitle">Mira lo rápido que puedes crear una factura profesional</p>
      </div>
      <div class="demo-video">
        <div
            style="position: relative; box-sizing: content-box; max-height: 80vh; max-height: 80svh; width: 100%; aspect-ratio: 2.0012507817385865; padding: 40px 0 40px 0;">
            <iframe src="https://app.supademo.com/embed/cmaf73bh900qa10sn75tpuhii?embed_v=2" loading="lazy" title="Vercel Demo"
                allow="clipboard-write" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
      </div>
  </div>
</section>